<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./temrpory.css">
</head>
<body>
    <section class="vh-100" style="background-color: #3b3636;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem; background-color: #18181bda;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5" style="color: #ecedee">
    
                                    <form>
    
                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <img width="48" height="48" src="https://img.icons8.com/color/48/bumblebee.png" alt="bumblebee"/>
                                            <span class="h1 fw-bold mb-0" style="color: #f7c02a">BeeFunding</span>
                                        </div>
    
                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create an Account</h5>
    
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="email" id="form2Example18" class="form-control" />
                                            <label class="form-label" for="form2Example18">Email address</label>
                                        </div>
    
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" id="form2Example27" class="form-control" />
                                            <label class="form-label" for="form2Example27">Password</label>
                                        </div>
    
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <input type="password" id="form2Example28" class="form-control" />
                                            <label class="form-label" for="form2Example28">Repeat Password</label>
                                        </div>
    
                                        <div class="pt-1 mb-4">
                                            <button data-mdb-button-init data-mdb-ripple-init class="button-85" type="button">Register</button>
                                        </div>
    
                                        <p class="mb-5 pb-lg-2" style="color: #5a64d8;">Already have an account? <a href="{% url 'login' %}" style="color: #5a64d8;">Login here</a></p>
                                    </form>
    
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://img.freepik.com/foto-gratis/reunion-empresarios-oficina-trabajo_23-2148908922.jpg?t=st=1713055967~exp=1713059567~hmac=82125f5559b3d031940fd47b94469348d12adc1db6a06fe824b6c30e887cd722&w=360" alt="login form" class="img-fluid" style="border-radius: 0 1rem 1rem 0;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>