{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icono.png' %}" type="image/x-icon">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--fuentes-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
    <!--css files-->
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/glightbox.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/swiper-bundle.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/aos.css'%}" rel="stylesheet">
    
    <!--main css-->
    <link href="{% static 'css/main.css'%}" rel="stylesheet">

</head>
<body>
    <section class="vh-100" style="background-color: #3b3636;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem; background-color: #18181bda;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-3" style="color: #ecedee">

					<form action="{% url 'register' %}" method="post" novalidate>

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <img width="48" height="48" src="{% static 'img/icono.png' %}" alt="bumblebee"/>
                                            <span class="h1 fw-bold mb-0" style="color: #e84545">BeeFoundme</span>
                                        </div>

                                        <h5 class="fw-normal mb-2 pb-3" style="letter-spacing: 1px;">Create an Account</h5>

                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <input type="email" name="email" id="form2Example18" class="form-control" />
                                            <label class="form-label" for="form2Example18">Email address</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <input type="password" name="password" id="form2Example27" class="form-control" />
                                            <label class="form-label" for="form2Example27">Password</label>
                                        </div>

                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <input type="password" name="password2" id="form2Example28" class="form-control" />
                                            <label class="form-label" for="form2Example28">Repeat Password</label>
                                        </div>

                                        <div class="pt-1 mb-3">
                                            <button data-mdb-button-init data-mdb-ripple-init class="button-85" type="button">Register</button>
                                        </div>

                                        <p class="mb-5 pb-lg-2" style="color: #5a64d8;">Already have an account? <a href="{% url 'login' %}" style="color: #5a64d8;">Login here</a></p>
                                    </form>

                                </div>
                            </div>
                            <div class="col-md-5 col-lg-5 d-none d-md-block">
                                <img src="https://img.freepik.com/foto-gratis/reunion-empresarios-oficina-trabajo_23-2148908922.jpg?t=st=1713055967~exp=1713059567~hmac=82125f5559b3d031940fd47b94469348d12adc1db6a06fe824b6c30e887cd722&w=360" alt="login form" class="img-fluid" style="border-radius: 0 1rem 1rem 0;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>
